//link to product by converting the title to a slug
.product
  = link_to '/middleman_netlifycms.gitlab.io/event/' + event.title.parameterize + '/'
    .product-image
      = image_tag event.image
    .product-content
      .title
        h3 = event.title
