doctype html
html
  head
    = partial 'layouts/meta'
    = stylesheet_link_tag "all"

  body
    = partial 'partials/shared/header-primary'

    main.main-content

      = yield

    - if defined?(product) && product.test_area
      main.test-area
        = product.test_area

    = javascript_include_tag 'main', async: true