article.news-item
  .row
    .image
      - if article.data.image
        = link_to '/middleman_netlifycms.gitlab.io/' + article.title.parameterize 
          = image_tag article.data.image

          .date
            //make sure the article date is actually a date
            - date = Date.parse article.data.date.to_s
            span = date.strftime("%d-%m-%Y")

    .content
      .wrapper
        = link_to '/middleman_netlifycms.gitlab.io/' + article.title.parameterize 
          h3 = article.data.title
        
        p = article.data.description

        = link_to 'Read the story', '/middleman_netlifycms.gitlab.io/' + article.title.parameterize , class: 'cta'
