section.products
  .container
    h2
      | Events
    .row
      //event is structured: ['filename', 'data']
      //sort by newest event
      - data.event.sort {|a,b| b[1].date <=> a[1].date}.each do | event |

        //to get the actual data:
        = partial 'partials/events/event', locals: {event: event[1]}

