.product-detail
  .image style=background_image(image_path(event.image))
  .content
    .meta
      h1 = event.title

    .body
      = markdown event.body

      form
        label for="name" Name
        input type="input" name="name"


        label for="email" Email
        input type="input" name="email"


        input type="submit" name="submit"    
  